<!DOCTYPE html>
<html lang="en" ng-app="agenda">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron{
            width: 600px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        table{
            margin-top: 20px;
        }
        .selecionado{
            background-color: #ffe8a1;
        }
        .negrito{
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script>
        angular.module("agenda",["ngMessages"]);
        angular.module("agenda").controller("angularCtrl", function ($scope) {
            $scope.app = "Agenda";
            $scope.contatos = [
                {nome: "Pedro", telefone: "99998888"},
                {nome: "Ana", telefone: "99998887"},
                {nome: "Maria", telefone: "99998889"}
            ];
            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            };
            $scope.operadoras = [
                {nome: "OI", codigo: "14", preco: "2"},
                {nome: "VIVO", codigo: "15", preco: "2"},
                {nome: "TIM", codigo: "41", preco: "2"}
            ];
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function(contato){
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                 return contatos.some(function (contato) {
                     return contato.selecionado;
                 });
            };
            $scope.ordenarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };

        });

    </script>
</head>
<body ng-controller="angularCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que deseja buscar"/>
        <table ng-show="contatos.length>0" class="table ">
            <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</th>
                <th>Operadora</th>
                <th>Data</th>

            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td> {{contato.data | date:'dd/MM/yyyy'}}</td>
            </tr>
        </table>
        <hr>
        <form name="contatoForm">
            <input class="form-control" name="nome" type="text" placeholder="Nome" ng-model="contato.nome" ng-required="true" ng-minlength="10"/>
            <input class="form-control" name="telefone" type="text" placeholder="Telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
            <input class="form-control" name="data" type="date" placeholder="Data" ng-model="contato.data"/>

            <select class="form-control" name="operadora" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency)+')' for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div ng-messages="contatoForm.nome.$error" >
            <div ng-show="required" class="alert-danger alert">
                Por Favor, preencha o campo nome!
            </div>
            <div ng-show="minlength" class="alert-danger alert">
                O campo nome deve ter no minimo 10 caracteres.
            </div>
        </div>
        <div ng-messages="contatoForm.telefone.$error">
            <div ng-show="required" class="alert-danger alert">
                Por Favor, preencha o campo telefone!
            </div>
            <div ng-show="pattern" class="alert-danger alert">
                Por Favor, preencha o campo telefone!
            </div>
        </div>

        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>